<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>リーダブルコード</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
          <td>
            <a class="show_150685" href="/books/150685">Show</a>
          </td>
          <td>
            <a class="edit_150685" href="/books/150685/edit">Edit</a>
          </td>
          <td>
            <a date-confirm="Are you sure?" class="destroy_150685" rel="nofollow"
            date-method="delete" href="/books/150685">Destroy
            </a>
          </td>
        </tr>
        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td>
            <a class="show_150686" href="/books/150686">Show</a>
          </td>
          <td>
            <a class="edit_150686" href="/books/150686/edit">Edit</a>
          </td>
          <td>
            <a date-confirm="Are you sure?" class="destroy_150686" rel="nofollow"
            date-method="delete" href="/books/150686">Destroy
            </a>
          </td>
        </tr>
        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめです</td>
          <td>
            <a class="show_150687" href="/books/150687">Show</a>
          </td>
          <td>
            <a class="edit_150687" href="/books/150687/edit">Edit</a>
          </td>
          <td>
            <a date-confirm="Are you sure?" class="destroy_150687" rel="nofollow"
            date-method="delete" href="/books/150687">Destroy
            </a>
          </td>
        </tr>
        <tr>
          <td>入門Git</td>
          <td>gitについての基本操作から内部構造まで解説してくれます</td>
          <td>
            <a class="show_150688" href="/books/150688">Show</a>
          </td>
          <td>
            <a class="edit_150688" href="/books/150688/edit">Edit</a>
          </td>
          <td>
            <a date-confirm="Are you sure?" class="destroy_150688" rel="nofollow"
            date-method="delete" href="/books/150688">Destroy
            </a>
          </td>
        </tr>
        <tr>
          <td>アルゴリズム図鑑</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td>
            <a class="show_150689" href="/books/150689">Show</a>
          </td>
          <td>
            <a class="edit_150689" href="/books/150689/edit">Edit</a>
          </td>
          <td>
            <a date-confirm="Are you sure?" class="destroy_150689" rel="nofollow"
            date-method="delete" href="/books/150689">Destroy
            </a>
          </td>
        </tr>
        <tr>
          <td>達人プログラマー</td>
          <td>プログラマ入門者は必読！</td>
          <td>
            <a class="show_150690" href="/books/150690">Show</a>
          </td>
          <td>
            <a class="edit_150690" href="/books/150690/edit">Edit</a>
          </td>
          <td>
            <a date-confirm="Are you sure?" class="destroy_150690" rel="nofollow"
            date-method="delete" href="/books/150690">Destroy
            </a>
          </td>
        </tr>
        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL文を教えてくれます</td>
          <td>
            <a class="show_150691" href="/books/150691">Show</a>
          </td>
          <td>
            <a class="edit_150691" href="/books/150691/edit">Edit</a>
          </td>
          <td>
            <a date-confirm="Are you sure?" class="destroy_150691" rel="nofollow"
            date-method="delete" href="/books/150691">Destroy
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="30CpR94wTfeiT77Cwzvy4c2ZymMHs+OcZf73bdYItOOErQLTrUT3VgV70DkTsa4HSDp6e1xD7P7sZBqAc9e54w==">

      <div class="field">
       <label for="book_title">Title</label>
       <input class="book_title" type="text" name="book[title]" id="book_title">
      </div>

      <div class="field">
       <label for="book_body">Body</label>
       <textarea class="book_body" name="book[body]" id="book_body"></textarea>
      </div>

      <div class="actions">
       <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
      </div>
    </form>
    <%= yield %>
  </body>
</html>
